@font-face {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Jost-Regular.woff") format("woff2"),
        url("../fonts/Jost-Regular.woff") format("woff");
}

@font-face {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    src: url("../fonts/Jost-Medium.woff2") format("woff2"),
        url("../fonts/Jost-Medium.woff") format("woff");
}

@font-face {
    font-family: "Jost", sans-serif;
    font-weight: 600;
    src: url("../fonts/Jost-SemiBold.woff2") format("woff2"),
        url("../fonts/Jost-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Jost", sans-serif;
    font-weight: 700;
    src: url("../fonts/Jost-Bold.woff2") format("woff2"),
        url("../fonts/Jost-Bold.woff") format("woff");
}

@font-face {
    font-family: "Jost", sans-serif;
    font-weight: 900;
    src: url("../fonts/Jost-Black.woff2") format("woff2"),
        url("../fonts/Jost-Black.woff") format("woff");
}

/* General rules */
:root {
    --bg-color: #020204;
    --text-color: #fff;
    --accent-color: #C7A17A;
    --accent-color2: #A4815E;
    --grey-color: #DFDFDF;
    --dark-color: #14141D;
}

html,
body {
    height: 100vh;
}

body {
    min-width: 320px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    background-color: var(--bg-color);
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: color .3s ;
}

a:hover,
a.active {
    color: var(--accent-color);
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main.main {
    flex: 1 1 auto;
}

.btn-warning {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--text-color);
    transition: all .3s;
    border-radius: 10px;
    text-transform: uppercase;
}

.btn-warning:hover {
    background-color: var(--accent-color2);
    border-color: var(--accent-color2);
    color: var(--text-color);
}

.btn-outline-secondary {
    color: var(--text-color);
    transition: all .3s;
    text-transform: uppercase;
    border-radius: 10px;
}
/* General rules */

/* Header*/
.header-top {
    padding: 8px 0;
}

.header-top a {
    font-weight: 600;
    font-size: 14px;
}

.header nav {
    padding: 30px 0;
    border-top: 1px solid #32323D;
    border-bottom: 1px solid #32323D;
    background-color: var(--bg-color);
    position: relative;
}

.navbar-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-brand img {
    max-width: 58px;
    transition: all .3s;
}

.navbar-brand:hover img {
    filter: drop-shadow(0 0 10px #fff);
}

.header .navbar-nav {
    gap: 35px;
}

.header .navbar-nav .nav-link {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    transition: color .3s;
    padding: 0;
}

.header .navbar-nav .nav-link.active,
.header .navbar-nav .nav-link:hover {
    color: var(--accent-color);
}

.header-icons {
    font-size: 25px;
    display: flex;
    gap: 10px;
}

.header-icons .list-inline-item {
    margin: 0;
}

.header-icons li {
    position: relative;
}

.header-icons li a span>span {
    position: absolute;
    top: 0;
    right: -3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--accent-color);
}
/* Header*/

/* Hero section*/
.hero-section {
    padding: 200px 0;
}

.hero-section-content h1 {
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 1.44;
}

.hero-section-content p {
    font-size: 18px;
    color: var(--grey-color);
    margin: 35px 0;
}

.hero-section-content .btn {
    padding: 12px 60px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
}
/* Hero section*/

/* Banner section*/
.banner-section {
    margin: 80px 0;
}

.banner-section-img {
    position: relative;
}

.banner-section-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.banner-section-img img {
    object-fit: cover;
    object-position: right top;
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}


.banner-section-content {
    background-color: var(--dark-color);
    padding: 30px;
    border-radius: 0 10px 10px 0;
}


.banner-section-content h3 {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.banner-section-content p {
    color: var(--grey-color);
    font-size: 18px;
}
/* Banner section*/

@media only screen and (max-width: 992px) {
    .hero-section {
        padding: 100px 0;
    }

    .hero-section-content h1 {
        font-size: 40px;
    }

    .banner-section {
        margin: 40px 0;
    }

    .banner-section-img img {
        border-radius: 10px 10px 0 0;
    }
    
    .banner-section-content {
        border-radius: 0 0 10px 10px;
    }
}

@media only screen and (max-width: 768px) {
    .header nav {
        padding: 15px 0;
    }

    .hero-section-content h1 {
        font-size: 30px;
    }

    .hero-section-content p {
        font-size: 16px;
    }
}